
.panels {
  font-family: 'Amatic SC';
  font-size: 33px;
  color: white;
  display: flex;
}

.panel p {
  text-align: center;
  line-height: 1.2em;
}

.panel p:nth-child(2) {
  font-size: 60px;
}

.panel {
  padding-top: 25px;
  padding-bottom: 5px;
  min-height: 100vh;
  margin-top: -20px;
  border: none;
  border-radius: 0px;
  flex: 1;
}

.panel1 {
  background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
}
.panel2 {
  background-image:url('../images/file1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.panel3 {
  background-image:url('../images/file2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.panel4 {
  background-image:url('../images/file3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.panel5 {
  background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
